@import 'src/palette.scss';

h1 {
    color: $primary;
    font-weight: 500;
}

form {
	display: flex;
	flex-direction: column;
}

form > * {
	margin-bottom: 1em;
}

button {
    margin-top: 1em;
	margin-bottom: 1em;
}
