@import 'src/palette.scss';

.mdc-layout-grid__cell--span-12:first-child {
    margin-bottom: 2.5em;
}

table {
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

td, th {
    width: 25%;
}

.mat-row:hover {
    background-color: rgba(0, 0, 0, 0.025);
}

.positive {
    color: $primary;
}

.negative {
    color: $warn;
}
